In [1]:
# Create a set

set1 = {}
print(set1)

{}

In [3]:
set2 = {'UK', 'USA', 'GERMANY'}
print(set2)

{'GERMANY', 'USA', 'UK'}

In [4]:
set3 = {"Hello World"}
print(set3)

{'Hello World'}

In [5]:
set4 = set("Hello World!")
print(set4)

{'e', 'd', ' ', 'H', 'l', 'r', 'W', '!', 'o'}

In [10]:
# Count even and odd numbers in a set
def myfunction(myset):
  even_count = 0
  odd_count = 0

  for val in myset:                         # unordered -> cannot be accessed by index
    if (val % 2 == 0):
      even_count = even_count + 1
    else:
      odd_count = odd_count + 1

  print("Even : ", even_count)
  print("Odd : ", odd_count)

myset = {2,3,4,5,6,7,8,9}
myfunction(myset)

Even :  4
Odd :  4

In [12]:
# Count positive and negative numbers in a set

def myfunction(myset):
  pos_count = 0
  neg_count = 0

  for val in myset:
    if val >= 0:
      pos_count = pos_count + 1
    else:
      neg_count = neg_count + 1
    
  print("Positive count: ", pos_count)
  print("Negative count: ", neg_count)

myset = {1, 0, -3, -5, -8}
myfunction(myset)

Positive count:  2
Negative count:  3

In [13]:
# Iterate set items

def myfunction(myset):
  for val in myset:
    print(val)

myset = {"Hello", "World", "This", "is", "a", "set"}   # set is unordered
myfunction(myset)

is
a
This
set
World
Hello

In [43]:

# Find largest item in a set

def myfunction(myset):
  largest = 0
  for val in myset:
    if val > largest:
      largest = val
  return largest

myset = {33, 22, 145, 200, 4, 5}
myfunction(myset)

#print(max(myset))

200

In [16]:
# Length of a set

def myfunction(myset):
  return len(myset)

myset ={1, 2.15, "Apple", (2,5,8,0), 45, "Cherry"}
myfunction(myset)

6

In [19]:
# Even numbers in a set

def myfunction(myset):
  for val in myset:
    if val % 2 == 0:
      print(val)

myset = {20, 21, 22, 23, 24, 25}
myfunction(myset)

20
22
24

In [20]:
# Negative numbers in a set

def myfunction(myset):
  for val in myset:
    if val < 0:
      print(val)

myset = {1,2,3,-5,-6,-8}

print("Negative numbers are : ")
myfunction(myset)

Negative numbers are :
-8
-6
-5

In [23]:
# Odd numbers in a set

def myfunction(myset):
  for val in myset:
    if val%2 != 0:
      print(val)

myset = {20,21,22,23,24,25,25}   # duplicates not allowed-> return 25 once

print("Odd numbers are : ")
myfunction(myset)

Odd numbers are :
21
23
25

In [22]:
# Positive numbers in a set

def myfunction(myset):

{20, 21, 22, 23, 24, 25}

In [24]:
# Sum of even and odd numbers from a set

def myfunction(myset):
  even_sum = odd_sum = 0
  for val in myset:
    if val % 2 == 0:
      even_sum = even_sum + val
    else:
      odd_sum = odd_sum + val

  print("Even sum is : ", even_sum)
  print("Odd sum is : ", odd_sum)

myset = {1,2,3,4,5,0}
myfunction(myset)

Even sum is :  6
Odd sum is :  9

In [44]:
# find smallest number in a set

def myfunction(myset):
  return min(myset)

myset= {22,5,6,3,7,8}
myfunction(myset)

3